body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

.title {
    text-align: center;
    margin-top: 20px;
    color:white;
}

.form-section {
    margin: 20px;
}

.form-section label {
    margin-right: 10px;
}

.form-section input[type="number"],
.form-section input[type="checkbox"],
.form-section input[type="text"],
.form-section input[type="date"],
.form-section input[type="search"] {
    margin-bottom: 10px;
}

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.checkbox-group label {
    display: inline-block;
    
}

.input-group {
    margin-bottom: 10px;
    
}

.input-group input {
    padding: 5px;
    margin: 5px 0;
    width: 100%;
    max-width: 250px;
   
}

.button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    max-width: 250px;
    border-radius: 10px;
}

.button:hover {
    background-color: #45a049;
}

.container {
    color:cornsilk;
    font-weight: bold;
    width: 80%;
    margin: 0 auto;
    background-image: linear-gradient(rgb(0,0,0,0.7),rgb(0,0,0,0.7)),url('hostel.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

.recommendations {
    margin-top: 30px;
    color:black
}

.hostel-card {
    background-color: #ffffff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.hostel-card h4 {
    margin-top: 0;
}
